#conteiner{
    
    display: flex;
    widows: 100%;
    height: max-content;    
}
#firstDiv {
    font-weight: 800;
    background-color: grey;
    width: 20%;
    padding: 10px;
    color: cyan;
}

.im{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 30%;
    border: 4px solid black;
}

#contact {
    
    padding-left: 10%;
    padding-right: 10%;
}

#interes {
    
    padding-left: 10%;
    padding-right: 10%;
}
#interes > ul {
    padding-left: 10%;
    
}

#connect {
    
    padding-left: 10%;
    padding-right: 10%;
}
a{
    color: cyan;
}
a:visited{
    color: cyan;
}

#personal {
    
    padding-left: 10%;
    padding-right: 10%;
}

#secondDiv {
    padding: 0px 10px 20px 30px; 
    background-color: ghostwhite;
    width: 40%;
    /* overflow: hidden; */
}

input {
    width: 100%;
}

#dato{
    color: darkcyan;
}

#kide1, #kide2  {
    opacity: 0.2;
    font-family: 'Fira Code';
    width: 20%;
    background-color: #151515;
    color: aliceblue;
    padding: 5px 5px 5px 5px;
    overflow: hidden;
}

#kide1:hover, #kide2:hover{
    animation-name: anim;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes anim{
    0% {opacity: 0.2;}
    25% {opacity: 0.4;}
    50% {opacity: 0.6;}
    75% {opacity: 0.8;}
    100% {opacity: 1;}
}


.projcont{
    height: 70%;
    padding-top: 10px;
    width: 90%;
    background-color: none;
    color: #363636;
}

.minicont {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    background-color: none;
    height: 30%;
    font-family: Satisfy;
}

.proj{
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: none;
    width: 40%;
    margin: 5px; 
    border-top: solid #151515 1px;
    overflow: hidden; 
}

.blue{
    color: aqua;
}

#perinfo{
    visibility: hidden;
}

@media screen and (max-width: 768px){
    #kide1, #kide2{
        display: none;
    }
    #perinfo{
        visibility: visible;
        font-size: 12px;
        opacity: 0.4;
    }
    #conteiner{
        display: block;
    }
    #firstDiv{
        width: 100%;
        height: 220px;
        overflow: hidden;
    }
    #secondDiv{
        width: 100%;
    }
    h1{
        font-size: 25px;
    }
    .im{
        width: 290px;
    }
}



